@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@font-face {
    font-family: "P22Mackinac";
    src: url('P22Mackinac-ExtraBold_9.otf') format('opentype');
}

.container{
    width: 96%;
    height: 692px;
    border-radius: 80px;
    margin: 2% 2%;
    background: linear-gradient(#FEF2F4, #FEFBF2, #FBF2FE);  
}

h1{
    font-weight: 400;
    color:#4F6B82;
    font-family: 'P22Mackinac';
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 180px;
}
.icons {
    width: 32px 32px;
    text-align: center;
}

section {
    text-align: center;
}

p  {
    font-weight: 700;
    font-size: 24px;
    color: #4F6B82;
    text-align: center;
}